<div class="container" ng-controller="BarGraphCtrl">
	<h1 class="page-header">
		About The Application
		<small>{{ subtitle }} :)</small>
	</h1>
	
	<!-- ng svg binding -->
	<div>
		<!-- input controls -->
		Width:
		<input type="text" ng-model="width">
		Color:
		<select name="" id="" ng-model="color">
			<option value="#f15">pink</option>
			<option value="#2a9fbc">blue</option>
			<option value="#f15b2a">orange</option>
			<option value="#a62e5c">plum</option>
		</select>
		Height
		<input type="text" ng-model="specs.height">
		<br>
		<!-- left SVG -->
		<section class="ja-svg-section">
			<svg xmlns="http://www.w3.org/2000/svg" width="400" height="250">
				<rect ng-repeat="bar in specs.s"
				      x="0" y="{{ (1 * specs.height + specs.padding) * $index }}" fill="{{ color }}"
				      width="{{width}}" height="{{ specs.height }}">
				</rect>
				<line x1="0" x2="0" y1="0" y2="105" style="stroke: black; stroke-width: 2px"></line>
				<line x1="0" y1="105" x2="70" y2="105" style="stroke: black; stroke-width: 2px"></line>
			</svg>
		</section>
	</div>
</div>
