<form class="form-inline">
    <input type="text" placeholder="Date" class="form-control" ng-model="$ctrl.date">
    <input type="text" class="form-control" ng-model="$ctrl.payee" placeholder="Payee">
    <input type="text" class="form-control" placeholder="Description" ng-model="$ctrl.description">
    <select ng-model="$ctrl.selectedCategory"
            ng-options="categories.name for categories in $ctrl.categories track by categories.$id"
            class="form-control">
    </select>
    <input type="text" class="form-control" placeholder="Amount" ng-model="$ctrl.amount">

    <button class="btn btn-primary btn-lg" ng-show="$ctrl.editing"
            ng-click="$ctrl.save()">Save</button>
    <button class="btn btn-danger btn-lg" ng-show="$ctrl.editing"
            ng-click="$ctrl.cancel()">Cancel</button>
    <button class="btn btn-warning btn-lg" ng-show="!$ctrl.editing"
            ng-click="$ctrl.create()">Create</button>
</form>