<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th width="18%">Date</th>
			<th width="18%">Payee</th>
			<th width="18%">Descriptions</th>
			<th width="18%">Category</th>
			<th width="18%">Amount</th>
			<th width="10%"></th>
		</tr>
	</thead>
	<tbody class="pointable">
		<tr ng-repeat="expense in $ctrl.expenses"
		        ng-click="$ctrl.clickRow(expense)"
		        ng-mouseenter="hovering = true"
		        ng-mouseleave="hovering = false">
			<td>{{ expense.date | date:'shortDate' }}</td>
			<td>{{ expense.payee }}</td>
			<td>{{ expense.description }}</td>
			<td>{{ expense.category.name }}</td>
			<td>{{ expense.amount | currency }}</td>
			<td>
				<i class="fa fa-remove"
				   ng-mouseenter="delHovering = true"
				   ng-mouseleave="delHovering = false"
				   ng-show="hovering" ng-class="{'hover-delete': delHovering}"
				   ng-click="$ctrl.deleteExpense(expense)">
				</i>
			</td>
		</tr>
	</tbody>
</table>